<mxfile host="drawio-plugin" modified="2023-03-29T08:11:02.914Z" agent="5.0 (Windows NT 6.2; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.105 Safari/537.36" etag="0hsJdbkvFUG8tort24ef" version="14.7.4" type="embed">
<diagram id="GNU3i8hCxYjH3E0Nk9u4" name="Page-1">
<mxGraphModel dx="1230" dy="659" grid="1" gridSize="10" guides="1" tooltips="1" connect="1" arrows="1" fold="1" page="1" pageScale="1" pageWidth="850" pageHeight="1100" math="0" shadow="0">
<root>
{{ $data := .}}
<mxCell id="0"/>
<mxCell id="{{$data.IDsPrefix}}-{{$data.RootID}}" parent="0"/>
    {{range $point := $data.DebugPoints}}
        <mxCell id="{{$data.IDsPrefix}}-{{$point.ID}}" value="" style="verticalLabelPosition=bottom;verticalAlign=top;html=1;shape=mxgraph.basic.8_point_star" vertex="1" parent="{{$data.IDsPrefix}}-{{$data.RootID}}">
        <mxGeometry width="10" height="10" x="{{$point.P.X}}" y="{{$point.P.Y}}" as="geometry"/>
        </mxCell>
    {{end}}
    {{range $node := $data.Nodes}}
    <!-- {{$data.ElementComment $node}} -->
        {{ if $node.NotShownInDrawio }}
        {{ else if $node.IsSquare }}
            <mxCell id="{{$data.IDsPrefix}}-{{$node.ID}}" value="" style="{{$data.Style $node}}" parent="{{$data.IDsPrefix}}-{{$node.DrawioParent.ID}}" vertex="1">
            <mxGeometry width="{{$node.Width}}" height="{{$node.Height}}" x="{{$node.X}}" y="{{$node.Y}}" as="geometry"/>
            </mxCell>
            {{if $data.HasTag $node}}
                <mxCell id="{{$data.IDsPrefix}}-{{$node.TagID}}" value="" style="{{$data.TagStyle $node}}" parent="{{$data.IDsPrefix}}-{{$node.ID}}" vertex="1">
                <mxGeometry x="19" y="6.5" width="22" height="19.73" as="geometry" />
                </mxCell>
                <mxCell id="{{$data.IDsPrefix}}-{{$node.DecoreID}}" value="" style="{{$data.DecoreStyle $node}}" parent="{{$data.IDsPrefix}}-{{$node.ID}}" vertex="1">
                <mxGeometry width="7" height="37" as="geometry" />
                </mxCell>
                <mxCell id="{{$data.IDsPrefix}}-{{$node.TextID}}" value="{{$node.Label}}" style="{{$data.SquareTextStyle $node}}" parent="{{$data.IDsPrefix}}-{{$node.ID}}" vertex="1">
                <mxGeometry x="51" y="8" width="163" height="20" as="geometry" />
                </mxCell>
            {{end}}
        {{ else if $node.IsIcon }}
            {{ if $node.HasTooltip }}
                <UserObject label="{{$node.Label}}" tooltip="{{$node.Tooltip}}" id="{{$data.IDsPrefix}}-{{$node.ID}}">
                    <mxCell style="{{$data.Style $node}}" parent="{{$data.IDsPrefix}}-{{$node.DrawioParent.ID}}" vertex="1">
                    <mxGeometry width="{{$node.IconSize}}" height="{{$node.IconSize}}" x="{{$node.X}}" y="{{$node.Y}}" as="geometry"/>
                    </mxCell>
                </UserObject>
            {{else}}
                <mxCell id="{{$data.IDsPrefix}}-{{$node.ID}}" value="{{$node.Label}}" style="{{$data.Style $node}}" parent="{{$data.IDsPrefix}}-{{$node.DrawioParent.ID}}" vertex="1">
                <mxGeometry width="{{$node.IconSize}}" height="{{$node.IconSize}}" x="{{$node.X}}" y="{{$node.Y}}" as="geometry"/>
                </mxCell>
            {{ end }}
            {{ if $data.HasMiniIcon $node }}
                <mxCell id="{{$data.IDsPrefix}}-{{$node.MiniIconID}}" value="" style="{{$data.MiniIconStyle $node}}" parent="{{$data.IDsPrefix}}-{{$node.ID}}" vertex="1">
                <mxGeometry x="{{$data.MiniIconXOffset}}" y="{{$data.MiniIconYOffset}}" width="{{$data.MiniIconSize}}" height="{{$data.MiniIconSize}}" as="geometry"/>
                </mxCell>
            {{ end }}
            {{ if $node.IsNI }}
                {{ if $node.HasFip  }}
                    <mxCell id="{{$data.IDsPrefix}}-{{$node.FipID}}" value="{{$node.Fip}}" style="{{$data.FIPStyle $node}}" parent="{{$data.IDsPrefix}}-{{$node.ID}}" vertex="1">
                    <mxGeometry x="{{$data.FipXOffset}}" y="{{$data.FipYOffset}}" width="{{$node.IconSize}}" height="{{$node.IconSize}}" as="geometry"/>
                    </mxCell>
                {{ end }}
            {{ end }}
        {{ else if $node.IsLine }}
            <mxCell id="{{$data.IDsPrefix}}-{{$node.ID}}" style="{{$data.Style $node}}" edge="1" parent="{{$data.IDsPrefix}}-{{$node.DrawioParent.RouterID}}" source="{{$data.IDsPrefix}}-{{ $node.SrcID}}" target="{{$data.IDsPrefix}}-{{ $node.DstID}}">        
            <mxGeometry relative="1" as="geometry">
            <Array as="points">
            {{range $point := $node.Points}}
                <mxPoint x="{{$point.X}}" y="{{$point.Y}}"/>
            {{ end }}
            </Array>
            </mxGeometry>
            </mxCell>
            <mxCell id="{{$data.IDsPrefix}}-{{$node.TextID}}" value="{{$node.Label}}" style="{{$data.LineTextStyle $node}}" vertex="1" connectable="0" parent="{{$data.IDsPrefix}}-{{$node.ID}}">
                <mxGeometry x="-0.07" y="2" relative="1" as="geometry">
                <mxPoint x="-3" y="12" as="offset" />
                </mxGeometry>
            </mxCell>
        {{ end }}
    {{end}}
</root>
</mxGraphModel>
</diagram>
</mxfile>
