name: push-tests

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

    - name: Set up Go
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00
      with:
        go-version-file: ./go.mod

    - name: Build
      env:
        CGO_ENABLED: 0
        GOOS: linux      
      run: go build --tags static_all -v -o ./bin/vpc-analyzer ./cmd/analyzer

    - name: Test
      run: go test -v ./...
  