name: push-tests

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

    - name: Set up Go
      uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5
      with:
        go-version-file: ./go.mod

    - name: Build
      env:
        CGO_ENABLED: 0
        GOOS: linux      
      run: go build --tags static_all -v -o ./bin/vpc-analyzer ./cmd/analyzer

    - name: Test
      run: go test -v ./...
  